body{
    background: white;
}
.mynav{
    background-image: white;
}
.navbar{
    background-color: rgb(255,132,0) !important;
}

h1{
    color: white !important;
    font-size: 25px;
}
.navbar .navbar-brand{
    color : #FFF;
    font-weight: bolder;
    font-size: 1.3em;
}
.navbar .navbar-nav{
    margin : 0 auto;
    margin-left: 80%;
}
.navbar .nav-item a{
    color: #FFF !important;
}
.nav-item:hover{
 background-color: rgba(13,171,76);   
}

.navbar .dropdown-menu{
    background-color: rgba(13,171,76);
}
.dropdown-item:hover{
    background-color: rgba(0,0,0,0.3);
}
.navbar form button{
    background-color: #ea00b1;
    color:#FFF;
    border:0;
}
.navbar form button:hover{
    background-color: #000;
}

.carousel-inner img {
    width: 100%;
    max-height: 530px;
}

.carousel-inner{
 height: 530px;
}

/*#footer h6{
    color: white;
}

#footer {
 width: 100%;
 height: 30px;
 background:rgb(43,43,43);
 text-align: center;
}*/

